flux Node-RED
[
    {
        "id": "d51b23fca2b90aea",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ce6f98c.254bf",
        "type": "tab",
        "label": "Plot DHT Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fcbfc497113c6476",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "tls": "b4e3648d5d2e880a",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b4e3648d5d2e880a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "SecuredDev01_crt.pem",
        "keyname": "SecuredDev01_key_nopass.pem",
        "caname": "rootCA_certificate.pem",
        "servername": "localhost",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "72692f8c.1a55a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed1d5d5f.dc5c58",
        "type": "ui_group",
        "name": "Start / Stop",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bb2d88d.8be177",
        "type": "ui_group",
        "name": "Network",
        "tab": "88fe602a.e1955",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88fe602a.e1955",
        "type": "ui_tab",
        "name": "ESP8266 Workshop",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "89bfd092.f8bc18",
        "type": "ui_group",
        "name": "Line Chart Examples",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d6d5b6c0.39742",
        "type": "ui_group",
        "name": "Bar Chart Examples",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "5c2f5188.6d47f8",
        "type": "ui_group",
        "name": "Pie Chart Examples",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c65d0570eb07f7ab",
        "type": "mongodb",
        "hostname": "mongodb://romainperrot:testmongodbiot@ac-mz1l7eo-shard-00-00.6nqeygn.mongodb.net:27017,ac-mz1l7eo-shard-00-01.6nqeygn.mongodb.net:27017,ac-mz1l7eo-shard-00-02.6nqeygn.mongodb.net:27017/?ssl=true&replicaSet=atlas-n1461g-shard-0&authSource=admin&retryWrites=true&w=majority",
        "port": "27017",
        "db": "myDB",
        "name": ""
    },
    {
        "id": "77bda0c.5155c6",
        "type": "ui_group",
        "name": "Change ESP8266 Reporting Interval",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "8138132f14a7ddf8",
        "type": "mqtt-broker",
        "name": "HiveMq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "9df05172a426b324",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9df05172a426b324",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "mqtt-client-cert-demo.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9f894616f99b7099",
        "type": "mongodb-aleph-config",
        "hostname": "romainperrot:testmongodbiot@ac-mz1l7eo-shard-00-00.6nqeygn.mongodb.net:27017,ac-mz1l7eo-shard-00-01.6nqeygn.mongodb.net:27017,ac-mz1l7eo-shard-00-02.6nqeygn.mongodb.net:27017/?ssl=true&replicaSet=atlas-n1461g-shard-0&authSource=admin&retryWrites=true&w=majority",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "myDB",
        "name": "mongodb"
    },
    {
        "id": "5571671c.8ea9b",
        "type": "ui_group",
        "name": "Historical Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "18"
    },
    {
        "id": "11d8514.a44dcaf",
        "type": "ui_group",
        "name": "Chart Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "958f87eb20546583",
        "type": "mongodb",
        "hostname": "Vidushi:Voldemort@ac-kr0kfce-shard-00-00.ahtzwd1.mongodb.net:27017,ac-kr0kfce-shard-00-01.ahtzwd1.mongodb.net:27017,ac-kr0kfce-shard-00-02.ahtzwd1.mongodb.net:27017/?ssl=true&replicaSet=atlas-mda61v-shard-0&authSource=admin&retryWrites=true&w=majority",
        "port": "27017",
        "db": "test",
        "name": "mongo"
    },
    {
        "id": "871f392db6b7f6b4",
        "type": "mongodb-aleph-config",
        "hostname": "Vidushi:Voldemort@ac-kr0kfce-shard-00-00.ahtzwd1.mongodb.net:27017,ac-kr0kfce-shard-00-01.ahtzwd1.mongodb.net:27017,ac-kr0kfce-shard-00-02.ahtzwd1.mongodb.net:27017/?ssl=true&replicaSet=atlas-mda61v-shard-0&authSource=admin&retryWrites=true&w=majority",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "myDB",
        "name": "mongo"
    },
    {
        "id": "16ca559d.db74ea",
        "type": "ui_group",
        "name": "Standard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e942a84a.b6001",
        "type": "ui_group",
        "name": "demo2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "42ad9d73.0b0cac",
        "type": "ui_group",
        "name": "Demo3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f135c9fd.5347a8",
        "type": "ui_group",
        "name": "demo1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false
    },
    {
        "id": "6241cb60d99bb263",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "1f3b9dfee11de570",
        "type": "ui_group",
        "name": "Visualisation",
        "tab": "88fe602a.e1955",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b577022a7b51ec70",
        "type": "ui_group",
        "name": "Occupancy",
        "tab": "88fe602a.e1955",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc9127bc8a8a95b5",
        "type": "mqtt in",
        "z": "d51b23fca2b90aea",
        "name": "",
        "topic": "h00448974/evt/status/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "fcbfc497113c6476",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "203473ac2f6ad498",
                "ba3babced2b970a9"
            ]
        ]
    },
    {
        "id": "203473ac2f6ad498",
        "type": "change",
        "z": "d51b23fca2b90aea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "5e43a6ae086710cc"
            ]
        ]
    },
    {
        "id": "ba3babced2b970a9",
        "type": "debug",
        "z": "d51b23fca2b90aea",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e43a6ae086710cc",
        "type": "debug",
        "z": "d51b23fca2b90aea",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "1ce19c7d.1392e4",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "49ce87c1.4ec838",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "Sensing Node 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Sensor_1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "1d4ec5b5.82c9f2"
            ]
        ]
    },
    {
        "id": "2f57084.22acd78",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "Sensing Node 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Sensor_2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "fda5229a.103b8"
            ]
        ]
    },
    {
        "id": "d7a2c22e.f27d1",
        "type": "switch",
        "z": "4ce6f98c.254bf",
        "name": "Warn when change state",
        "property": "payload.d.Sensor_1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "732cea1.a542294"
            ],
            [
                "6b05b3ded7521dbe"
            ]
        ]
    },
    {
        "id": "732cea1.a542294",
        "type": "template",
        "z": "4ce6f98c.254bf",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert: Chair 1 is empty {{payload.d.Sensor_1}}",
        "output": "str",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "80bbdd78.c69ae8"
            ]
        ]
    },
    {
        "id": "1d4ec5b5.82c9f2",
        "type": "ui_chart",
        "z": "4ce6f98c.254bf",
        "name": "",
        "group": "1f3b9dfee11de570",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chair 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fda5229a.103b8",
        "type": "ui_chart",
        "z": "4ce6f98c.254bf",
        "name": "",
        "group": "1f3b9dfee11de570",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chair 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "80bbdd78.c69ae8",
        "type": "ui_toast",
        "z": "4ce6f98c.254bf",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "f0c68f90ca986306",
        "type": "mqtt in",
        "z": "4ce6f98c.254bf",
        "name": "",
        "topic": "h00448974/evt/status/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "fcbfc497113c6476",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "1ce19c7d.1392e4",
                "49ce87c1.4ec838",
                "2f57084.22acd78",
                "d7a2c22e.f27d1",
                "4681a808d32c4e55"
            ]
        ]
    },
    {
        "id": "4681a808d32c4e55",
        "type": "switch",
        "z": "4ce6f98c.254bf",
        "name": "Warn when change state",
        "property": "payload.d.Sensor_2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "bab74122b6f12892"
            ],
            [
                "08dcf0a8bf792c5b"
            ]
        ]
    },
    {
        "id": "bab74122b6f12892",
        "type": "template",
        "z": "4ce6f98c.254bf",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert: Chair 2 is empty {{payload.d.Sensor_2}}",
        "output": "str",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "af82f5f492e47ae4"
            ]
        ]
    },
    {
        "id": "af82f5f492e47ae4",
        "type": "ui_toast",
        "z": "4ce6f98c.254bf",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b05b3ded7521dbe",
        "type": "template",
        "z": "4ce6f98c.254bf",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert: Chair 1 is taken {{payload.d.Sensor_1}}",
        "output": "str",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "11f0ab6d6254a1fd"
            ]
        ]
    },
    {
        "id": "11f0ab6d6254a1fd",
        "type": "ui_toast",
        "z": "4ce6f98c.254bf",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "08dcf0a8bf792c5b",
        "type": "template",
        "z": "4ce6f98c.254bf",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert: Chair 2 is taken {{payload.d.Sensor_2}}",
        "output": "str",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "fa9841db132d831f"
            ]
        ]
    },
    {
        "id": "fa9841db132d831f",
        "type": "ui_toast",
        "z": "4ce6f98c.254bf",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bae0c2540afff9f",
        "type": "ui_form",
        "z": "4ce6f98c.254bf",
        "name": "Custom Deep Sleep",
        "label": "",
        "group": "1bb2d88d.8be177",
        "order": 2,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Custom Deep Sleep (seconds)",
                "value": "Seconds",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Seconds": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "6615988a739b8db2"
            ]
        ]
    },
    {
        "id": "6615988a739b8db2",
        "type": "switch",
        "z": "4ce6f98c.254bf",
        "name": "Secs >= 0",
        "property": "payload.Seconds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "59cf34e97c2c3232"
            ]
        ]
    },
    {
        "id": "59cf34e97c2c3232",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sleep\":msg.payload.Seconds}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "a5fc35a8536de256",
                "31b817a99dcc391c"
            ]
        ]
    },
    {
        "id": "a5fc35a8536de256",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "CDS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "31b817a99dcc391c",
        "type": "mqtt out",
        "z": "4ce6f98c.254bf",
        "name": "",
        "topic": "h00448974/cmd/display/fmt/json",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcbfc497113c6476",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "3760286ce73dfa3b",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sleep\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "18bc3690154b6ea6"
            ]
        ]
    },
    {
        "id": "4ccb669c9b6b0df5",
        "type": "switch",
        "z": "4ce6f98c.254bf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "3760286ce73dfa3b"
            ],
            [
                "7dd38226f2d12a21"
            ]
        ]
    },
    {
        "id": "7dd38226f2d12a21",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "60000000",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sleep\":60000000}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "18bc3690154b6ea6"
            ]
        ]
    },
    {
        "id": "7c84eb1d946e0af1",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 480,
        "wires": []
    },
    {
        "id": "c68ef812bd219ba9",
        "type": "ui_switch",
        "z": "4ce6f98c.254bf",
        "name": "",
        "label": "Disable/Enable",
        "tooltip": "",
        "group": "1bb2d88d.8be177",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "4ccb669c9b6b0df5",
                "7c84eb1d946e0af1"
            ]
        ]
    },
    {
        "id": "18bc3690154b6ea6",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "{\"Sleep\":msg.payload.Seconds}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "f33d440ed0fc0669",
                "97c075264b594216"
            ]
        ]
    },
    {
        "id": "f33d440ed0fc0669",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "ON/OFF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "97c075264b594216",
        "type": "mqtt out",
        "z": "4ce6f98c.254bf",
        "name": "",
        "topic": "h00448974/cmd/display/fmt/json",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcbfc497113c6476",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "47c102dddb25e8c8",
        "type": "ui_form",
        "z": "4ce6f98c.254bf",
        "name": "Custom Interval Report",
        "label": "",
        "group": "1bb2d88d.8be177",
        "order": 3,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Reporting Interval (seconds)",
                "value": "Seconds",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Seconds": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "a4c7a3807851ae75"
            ]
        ]
    },
    {
        "id": "a4c7a3807851ae75",
        "type": "switch",
        "z": "4ce6f98c.254bf",
        "name": "Secs >= 0",
        "property": "payload.Seconds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 760,
        "wires": [
            [
                "a340fd3436d9f8e2"
            ]
        ]
    },
    {
        "id": "a340fd3436d9f8e2",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Interval\":msg.payload.Seconds}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 760,
        "wires": [
            [
                "0a56f31a9cb511cb",
                "27dc85689cb514bc"
            ]
        ]
    },
    {
        "id": "0a56f31a9cb511cb",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "CIR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "27dc85689cb514bc",
        "type": "mqtt out",
        "z": "4ce6f98c.254bf",
        "name": "",
        "topic": "h00448974/cmd/display/fmt/json",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcbfc497113c6476",
        "x": 740,
        "y": 780,
        "wires": []
    },
    {
        "id": "4dd619a45c04ca2d",
        "type": "mqtt in",
        "z": "4ce6f98c.254bf",
        "name": "",
        "topic": "h00448974/evt/status/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "fcbfc497113c6476",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "b94b7a6d7686618d",
                "1cf498846390e131"
            ]
        ]
    },
    {
        "id": "9e3dfc07bddbfc6c",
        "type": "ui_gauge",
        "z": "4ce6f98c.254bf",
        "name": "",
        "group": "b577022a7b51ec70",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Classroom",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 940,
        "wires": []
    },
    {
        "id": "b94b7a6d7686618d",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "Gauge",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 900,
        "wires": []
    },
    {
        "id": "1cf498846390e131",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.total",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 940,
        "wires": [
            [
                "9e3dfc07bddbfc6c"
            ]
        ]
    }
]
